.App {
    text-align: center;
}

.body {
    background-color: #eeeeee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

h1 {
    color: black;
    font-size: 8vh;
    text-decoration: underline;
}

h2 {
    color: black;
    font-size: 5vh;
}