.App {
    text-align: center;
}

.body {
    background-color: #eeeeee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

h1 {
    color: black;
    font-size: 8vh;
    text-decoration: underline;
}

h2 {
    color: black;
    font-size: 5vh;
}

.MyForm {
    justify-content: space-between;
    height: 100vh;
    align-items: flex-start;
    margin-left: 6vw;
}

.row {
    margin-top: 50px;
    align-self: flex-end;
}